<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DevSquare - Meetups</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

  </head>

  <body>

  <!-- Navigation bar -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">DevSquare
            <span class="sr-only">(current)</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/meetups"><i class="fas fa-users"></i> View meetups</a>
            </li>
            <% if(!user){ %>
            <li class="nav-item active">
              <a class="nav-link" href="/login"><i class="fas fa-unlock"></i> Sign in</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Sign up</a>
            </li>
            <% }else{ %>
            <li class="nav-item active">
              <a class="nav-link" href="/createmeetup"><i class="fas fa-map-marker-alt"></i> Create Meetup</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/logout"><i class="fas fa-user-circle"></i> Logout</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- <div class="container">
      <% if(error && error.length > 0) { %>
        <p class="alert alert-danger"><%= error %></p>
      <% } %>

      <% if(success && success.length > 0) { %>
          <p class="alert alert-success"><%= success %></p>
      <% } %>
    </div> -->