<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DevSqure - Page Not Found</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"><br>
            <span class="sr-only">(current)</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <!-- <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/meetups"><i class="fas fa-users"></i> View meetups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/createmeetup"><i class="fas fa-map-marker-alt"></i> Create Meetup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login"><i class="fas fa-unlock"></i> Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user"><i class="fas fa-user-circle"></i> Profile</a>
            </li>
          </ul> -->
        </div>
      </div>
    </nav>

    

    <!-- Page Content -->
    <section class="py-5 not-found">
      <div class="container">
        <div class="row">
          <div class="image col-sm-6 col-md-6" style="margin-top: 70px; margin-bottom: 20px">
            <img class="img-responsive" src="/img/meetup-2.jpg">
          </div>
          <div class="text col-sm-6 col-md-6">
            <h1>404</h1>
            <h3>Sorry, we can't seem to find the page you are looking for.</h3>
            <a class="btn btn-primary" href="/">Return Home</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <% include ./partials/footer %>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
