<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DevSquare - Create Meetup</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/main.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">DevSquare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/meetups"><i class="fas fa-users"></i> View meetups</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/createmeetup"><i class="fas fa-map-marker-alt"></i> Create Meetup
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login"><i class="fas fa-unlock"></i> Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user"><i class="fas fa-user-circle"></i> Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Page Content -->
    <section class="py-5">
      <div class="container">
        <h1>Create Meetup</h1>
        <div class="meetup-form">
            <form action="#" method="POST">
                <div class="form-group">
                  <label for="group">Group</label>
                  <input type="text" class="form-control" name="group" placeholder="Group">
                </div>
                <div class="form-group">
                  <label for="theme">Topic</label>
                  <input type="text" class="form-control" name="topic" placeholder="Topic">
                </div>
                <div class="form-group">
                  <label for="venue">Venue</label>
                  <input type="text" class="form-control" name="venue" placeholder="Venue">
                </div>
                <div class="form-group">
                  <label for="time">Time</label>
                  <input type="datetime-local" class="form-control" name="time" placeholder="Time">
                </div>
                <div class="form-group">
                  <label for="image upload">Meetup Image</label>
                  <input type="file" name="banner" class="form-control-file">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; DevSquare 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
