<% include ./partials/header %>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">

          
          <div class="carousel-item active" style="background-image: url('./img/meetup-2.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <div class="forloop meetup">
                <h1><strong style="color:green">forLoop Lagos</strong>: Building for the next Billion Users</h1>
                <p>Venue: Gbagada Event Center, Gbagada Lagos <br>
                  <code>Time: 10:00am prompt</code>
                </p>
              </div>
            </div>
          </div>
          
          <div class="carousel-item" style="background-image: url('./img/meetup-3.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <div class="React meetup">
                <h1 style="color:white">React Lagos</em>: From the Basics with React</h1>
                <p>Venue: Gbagada Event Center, Gbagada Lagos <br>
                  <code>Time: 10:00am prompt</code>
                </p>
              </div>
            </div>
          </div>
          
          <div class="carousel-item" style="background-image: url('./img/meetup-4.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <div class="Python meetup">
                <h1>Pythonists: Data Wraggling as a tool for Nation Building</h1>
                <p>Venue: Gbagada Event Center, Gbagada Lagos <br>
                  <code>Time: 10:00am prompt</code>
                </p>
              </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
      <div class="container index">
        <h1>Welcome to DevSquare</h1>
        <p>Meet like minded people and share ideas in a condusive and beautiful environment</p>
        <p><i class="fas fa-map-marked-alt fa-2x"></i> DevSquare Hub, Lagos</p>
      </div>
    </section>

    <!-- Footer -->
    <% include ./partials/footer %>
