<% include ./partials/header %>

    <!-- Page Content -->
    <section class="sign">
      <div class="container">
        <h1><i class="fas fa-sign-in-alt"></i> Sign in</h1>

        <div class="signin-form">
            <% if(error && error.length > 0) {%>
              <p class="alert alert-danger"><%=error %></p>
            <% } %>
          <form action="/login" method="POST">
              <div class="form-group">
                <label for="username"><i class="fas fa-user fa-lg"></i> Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username">
              </div>
              <div class="form-group">
                <label for="password"><i class="fas fa-lock fa-lg"></i> Password</label>
                <input type="password" class="form-control" name="password" placeholder="password">
              </div>
              
              <button type="submit" class="btn btn-primary" style="margin-bottom:10px">Sign in</button>
              <p>
                You don't have an account? <a href="/register">Sign up</a>
              </p>
          </form>
      </div>
    </section>

    <!-- Footer -->
    <% include ./partials/footer %>
