
   <% include ./partials/header %> 

    <!-- Page Content -->
    <section class="sign">
      <div class="py-5">
        <h1><i class="fas fa-sign-in-alt"></i> Sign up</h1>
          
        <div class="signin-form">
            <% if(error && error.length > 0) {%>
              <p class="alert alert-danger"><%=error %></p>
            <% } %>
          <form action="/register" method="POST">
              <div class="form-group">
                <label for="username"><i class="fas fa-user fa-lg"></i> Username</label>
                <input type="text" class="form-control" name="username" placeholder="username" required>
              </div>
              <div class="form-group">
                <label for="password"><i class="fas fa-lock fa-lg"></i> Password</label>
                <input type="password" class="form-control" name="password" placeholder="password" required>
              </div>
              <div class="form-group">
                <label for="admin Code"><i class="fas fa-lock fa-lg"></i> Admin Code</label>
                <input type="password" class="form-control" name="adminCode" placeholder="admin code">
              </div>

              <button type="submit" class="btn btn-primary" style="margin-bottom:10px">Sign up</button>
              <p>
                Already registered? <a href="/login">Sign in</a>
              </p>
          </form>
      </div>
    </section>

    <!-- Footer -->
    <% include ./partials/footer %>

