<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Half Slider - Start Bootstrap Template</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/main.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">DevSquare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/meetups"><i class="fas fa-users"></i> View meetups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/createmeetup"><i class="fas fa-map-marker-alt"></i> Create Meetup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login"><i class="fas fa-unlock"></i> Sign in</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Sign up
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user"><i class="fas fa-user-circle"></i> Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    

    <!-- Page Content -->
    <section class="sign">
      <div class="container">
        <h1><i class="fas fa-sign-in-alt"></i> Sign up</h1>
          
        <div class="signin-form">
            <% if(message) {%>
              <span class="error"><%=message %></span>
            <% } %>
          <form action="/register" method="POST">
              <div class="form-group">
                <label for="username"><i class="fas fa-user fa-lg"></i> Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username" required>
              </div>
              <div class="form-group">
                <label for="password"><i class="fas fa-lock fa-lg"></i> Password</label>
                <input type="text" class="form-control" name="password" placeholder="password" required>
              </div>
              
              <button type="submit" class="btn btn-primary" style="margin-bottom:10px">Sign up</button>
              <p>
                Already registered? <a href="/login">Sign in</a>
              </p>
          </form>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; DevSquare 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
