<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Half Slider - Start Bootstrap Template</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/main.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">DevSquare
            <span class="sr-only">(current)</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/meetups"><i class="fas fa-users"></i> View meetups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/createmeetup"><i class="fas fa-map-marker-alt"></i> Create Meetup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login"><i class="fas fa-unlock"></i> Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user"><i class="fas fa-user-circle"></i> Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Page Content -->
    <section class="main">
      <div class="container">
        <h1 >View Upcoming Meetups</h1>

        <div class="meetup-item row">
            <div class="picture col-md-3 float-left">
              <img class="icon img-fluid" src="./img/meetup-2.jpg" alt="forLoop Meetup banner" >
            </div>
            <div class="description col-md-7 float-right">
              <h6><strong>forLoop Lagos</strong>: Building for the next Billion Users</h6>
                <p><i class="fas fa-map-marker-alt"></i> Gbagada Event Center, Gbagada Lagos <br>
                  <i class="fas fa-clock"></i> 10:00am prompt</p>
              <a class="btn btn-success float-right" href="/meetup">View meetup</a>
            </div>
          </div>

          <div class="meetup-item row">
              <div class="picture col-md-3 float-left">
                <img class="icon img-fluid" src="./img/meetup-3.jpg" alt="forLoop Meetup banner" >
              </div>
              <div class="description col-md-7 float-right">
                <h6><strong>forLoop Lagos</strong>: Building for the next Billion Users</h6>
                  <p><i class="fas fa-map-marker-alt"></i> Gbagada Event Center, Gbagada Lagos <br>
                    <i class="fas fa-clock"></i> 10:00am prompt</p>
                <a class="btn btn-success float-right" href="/meetup">Register</a>
              </div>
          </div>

            <div class="meetup-item row">
                <div class="picture col-md-3 float-left">
                  <img class="icon img-fluid" src="./img/meetup-4.jpg" alt="forLoop Meetup banner" >
                </div>
                <div class="description col-md-7 float-right">
                  <h6><strong>forLoop Lagos</strong>: Building for the next Billion Users</h6>
                    <p><i class="fas fa-map-marker-alt"></i> Gbagada Event Center, Gbagada Lagos <br>
                      <i class="fas fa-clock"></i> 10:00am prompt</p>
                  <a class="btn btn-success float-right" href="/meetup">Register</a>
                </div>
            </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; DevSquare 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
