.main {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.meetup-item{
  width:70%; 
  height: 20%; 
  background-color:whitesmoke;
  margin:30px auto 0 auto;
  box-shadow: 5px 10px teal;
}

.index{
  margin-top: -50px;
  text-align: center;
  /* margin: 10px 0 10px 0; */
}

.index h1{
  color: #dc3545;
  font-family: fantasy;
}
.container h1{
  text-align: center;
}

.description, .meetups__description{
  color: black;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.meetups__description{
  font-family: monospace;
  font-size: 14px;
}
.meetups__views{
  margin: 20px;;
}


.center-btn{
  margin: auto 0 auto 0;
}

.meetup-form{
  width: 70%;
  margin: auto;
}

.meetup-detail{
  width: 70%;
  background-color: whitesmoke;
  margin: 20px auto 10px auto;
  /* height: 90%; */
}

.edit, .event-group{
  margin: 10px 10px 0 0;
}

.signin-form{
  width: 50%;
  height: 200%;
  margin: auto;
  box-shadow: 5px 5px gray;
}

.sign{
  margin: 10% 0 10%;
}

.error{
  color: red;
}

.text{
  margin: auto;
}
.py-5 h1{
  text-align: center;
}
footer{
  border-top: 3px solid #dc3545!important;
}

.meetup__image{
  height: 250px;
  width: 50vw;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 300px){
  .meetup__image{
    height: 100px;
  }
}

@media only screen and (max-width: 375px){
  .meetup__image{
    height: 200px;
  }
}